<h3>Dashboard</h3>

<div>email: {{currentUser.email}}</div>
{{#if currentUser.isPremiumUser}}
  <div class='premium-feature'>This is visible to premium users only</div>
{{/if}}

<div>This is visible to all users</div>
