<h1>Attention grabbing headline about purpose of the page and product</h1>
<h2>More detailed description</h3>

<img>Relevant image</img>

<form class='form-inline' role='form'>
  <div class='form-group'>
    {{input type='text' value=username class='form-control username' placeholder='Choose a username'}}
  </div>
  <div class='form-group'>
    {{input type='text' value=email class='form-control email' placeholder='Your email'}}
  </div>
  <div class='form-group'>
    {{input type='password' value=password class='form-control password' placeholder='Create a password'}}
  </div>
  <button type='submit' class='btn btn-default submit' {{action 'signUp'}}>Sign Up</button>
</form>

<div class='social-proof'>
  <p>Company Logos</p>
</div>
<div class='testimonials'>
  <p>Testimonials</p>
</div>
